{% extends 'dashboard/dashboard.html' %}
{% block title %}Platform{% endblock %}
{% block body %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="row" style="position: absolute; right: 400px; margin-top: 50px">
  <div class="col-lg-8">
    <div class="card" style="width: 40rem; background-color: #4f5050; color: #FFFFFF">
      <div class="card-body">
        <a href="{% url 'plat_create' %}" class="card-link btn btn-success">Add</a>
        <a href="{% url 'dashboard' %}" class="card-link btn btn-info">Home</a>
      </div>
      {% for i in plat %}
      <img src="{{ i.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
      </div>
      <div class="card-body">
        <a href="{% url 'plat_update' i.id %}" class="card-link btn btn-warning">Update</a>
        <a href="{% url 'plat_delete' i.id %}" class="card-link btn btn-danger">Delete</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}