{% extends 'dashboard/dashboard.html' %}
{% block title %}Update Portfolio{% endblock %}
{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row" style="margin-top: 100px; margin-left: 400px;">
        <h1>Portfolio</h1>
    <div class="col-lg-6">
        <form  action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-3">
                    <label class="form-label" style="color: #FFFFFF">Portfolio Name</label>
                    <input class="form-control form-control-sm" value="{{ port.name }}" name="name" type="text" placeholder="Enter Your Portfolio Name" aria-label=".form-control-sm example" style="background-color: #2c3034; color: #FFFFFF">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: #FFFFFF">Git Hub Link</label>
                    <input class="form-control form-control-sm" value="{{ port.gitlink }}" name="gitlink" type="text" placeholder="Enter Your Git Hub Link" aria-label=".form-control-sm example" style="background-color: #2c3034; color: #FFFFFF">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: #FFFFFF">Project URL Link</label>
                    <input class="form-control form-control-sm" value="{{ port.projectURL }}" name="projectURL" type="text" placeholder="Enter Your Project URL Link" aria-label=".form-control-sm example" style="background-color: #2c3034; color: #FFFFFF">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: #FFFFFF">Description</label>
                    <textarea class="form-control" name="description" type="text" rows="3" style="background-color: #2c3034; color: #FFFFFF">
                    {{ port.description }}
                    </textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: #FFFFFF">Image</label>
                    <input class="form-control form-control-sm" multiple name="image" type="file" placeholder="Upload your Image" aria-label=".form-control-sm example" style="background-color: #2c3034; color: #FFFFFF">
                    <img src="{{ port.image.url }}" height="50px" alt="">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}