{% extends 'dashboard/dashboard.html' %}
{% block title %}Portfolio{% endblock %}
{% block body %}
{% load static %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

    <div class="row" style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
        <div class="col-lg-12">
        <h3>Portfolio Table</h3><br>
        <a href="{% url 'dashboard' %}" class="card-link btn btn-info">Home</a>
        <a href="{% url 'port_create' %}" class="card-link btn btn-success">Add</a>
            <br><br>
            <table id="example" class="table table-striped" style="width:100%; color: #FFFFFF">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>DitHub Link</th>
                    <th>Project URL</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in port %}
                    <tr>
                        <td><img src="{{ i.image.url }}" style="height: 100px; width: 100px" class="card-img-top"
                                 alt="..."></td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.gitlink }}</td>
                        <td>{{ i.projectURL }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{% url 'port_update' i.id %}" class="card-link btn btn-warning">Update</a>
                            <a href="{% url 'port_delete' i.id %}" class="card-link btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>DitHub Link</th>
                    <th>Project URL</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <script src="{% static 'assets/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script>
    <script>new DataTable('#example');</script>

{% endblock %}