{% extends 'dashboard/dashboard.html' %}
{% block title %}Personal{% endblock %}
{% block body %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="row" style="position: absolute; right: 400px; margin-top: 50px">
  <div class="col-lg-8">
    <div class="card" style="width: 40rem; background-color: #4f5050; color: #FFFFFF">
      <div class="card-body">
        <a href="{% url 'pers_create' %}" class="card-link btn btn-success">Add</a>
        <a href="{% url 'dashboard' %}" class="card-link btn btn-info">Home</a>
      </div>
      {% for i in pers %}
      <img src="{{ i.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.email}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.phone}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.address}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.github}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.linkedin}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.instagram}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.facebook}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.tag_line}}</li>
        <li style="background-color: #2c3034; color: #FFFFFF" class="list-group-item">{{i.heading}}</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'pers_update' i.id %}" class="card-link btn btn-warning">Update</a>
        <a href="{% url 'pers_delete' i.id %}" class="card-link btn btn-danger">Delete</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}